<% provide(:title, 'About') %>
	
	<div class="jumbotron jumbotron-fluid">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h2 id="aboutus">About IT Inventory App</h2>
			<p id="account">IT Inventory App is a simplified inventory management tool whose primary use is stock management of items under the custody of the IT department.</p>

			<p id="account">These items include computers such as desktop PCs, laptops and their peripherals, handheld devices like mobile phones and  tablets, Uninterruptible Power Supplies, Printers and any other systems-related gadgets such as Electronic Signature Devices.</p>

			<p id="account">The IT Inventory App ensures that tracking of this stock is a seamless and accurate process. It allows for the easy creation, update and deletion of IT inventory by IT staff.</p>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid">
		<div class="row">
			<div class="col-sm-3"></div>
				<div class="col-md-4 mb-md-0 mb-4">
					<h5 id="aboutus">Motto</h5>
					<blockquote><p class="mb-0">If the internal customers are happy the external ones will be too.</p></blockquote>
					<cite>~ IT Guru</cite>
				</div>

				<div class="col-md-4 mb-md-0 mb-4">
					<h5 id="aboutus">Mission</h5>
					<blockquote><p class="mb-0">Make inventory tracking and management effortless and paperless.</p></blockquote>
					<cite>~ IT Guru</cite>
				</div>
		</div>
	</div>


