<% provide(:title, 'Contact') %>
<div class="jumbotron jumbotron-fluid">
	<div class="col-md-4 col-xl-3">
		<h5>Contacts</h5>
		<dl class="contact-list">
			<dt>Adress:</dt>
			<dd>Kitui road, Off Kampala road, Nairobi</dd>
			<dd>P.O. Box 30146. Nairobi 00100, Kenya</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd>Voi Street, Off Shimanzi road, Industrial Area, Mombasa</dd>
			<dd></dd>
		</dl>
		<dl class="contact-list">
			<dt>Email:</dt>
			<dd>helpdesk@eapi.co.ke</dd>
		</dl>
		<dl class="contact-list">
			<dt>Phone Number:</dt>
			<dd>+254 20 3955000</dd>
		</dl>
		<dl class="contact-list">
			<dt>Mobile:</dt>
			<dd>+254 722373476</dd>
		</dl>
	</div>
</div>