	
<div id="inventory" class="carousel slide" data-ride="carousel">

	<!-- Indicators: shows number of slides in a carousel -->
	<ul class="carousel-indicators">
		<li data-target="#inventory" data-slide-to="0" class="active"></li>
		<li data-target="#inventory" data-slide-to="1"></li>
		<li data-target="#inventory" data-slide-to="2"></li>
	</ul>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "IT_Equipment_2.png" %>
		</div>
		<div class="carousel-item">
			<%= image_tag "IT_Equipment_3.png" %>
		</div>
		<div class="carousel-item">
			<%= image_tag "IT_Equipment_1.png" %>
		</div>
	</div>

		<!-- Left and Right controls -->
		<a class="carousel-control-prev" href="#inventory" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#inventory" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
</div>

<div class="container-fluid">
	<div class="row home">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">A simple inventory application for keeping track of inventory items in the IT Department. To get started sign up:</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
			<%= link_to "Sign up",  signup_path, class: "btn btn-lg btn-light" %>
		</div>	
	</div>
</div>
<button class="fun btn btn-lg btn-block" data-toggle="collapse" data-target="#aboutinv"> About </button>
<div id="aboutinv" class="collapse">
	<div class="container-fluid">
		<div class="row row-background-image">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p id="account">IT Inventory App is a simplified inventory management tool whose primary use is stock management of items under the custody of the IT department.</p>

			<p id="account">These items include computers such as desktop PCs, laptops and their peripherals, handheld devices like mobile phones and  tablets, Uninterruptible Power Supplies, Printers and any other systems-related gadgets such as Electronic Signature Devices.</p>

			<p id="account">The IT Inventory App ensures that tracking of this stock is a seamless and accurate process. It allows for the easy creation, update and deletion of IT inventory by IT staff.</p>
			</div>
		</div>
	</div>
</div>

