	
<div id="inventory" class="carousel slide" data-ride="carousel">

	<!-- Indicators: shows number of slides in a carousel -->
	<ul class="carousel-indicators">
		<li data-target="#inventory" data-slide-to="0" class="active"></li>
		<li data-target="#inventory" data-slide-to="1"></li>
		<li data-target="#inventory" data-slide-to="2"></li>
	</ul>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "IT_Equipment_2.png" %>
		</div>
		<div class="carousel-item">
			<%= image_tag "IT_Equipment_3.png" %>
		</div>
		<div class="carousel-item">
			<%= image_tag "IT_Equipment_1.png" %>
		</div>
	</div>

		<!-- Left and Right controls -->
		<a class="carousel-control-prev" href="#inventory" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#inventory" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
</div>