<% provide(:title, 'Sign Up') %>
<div class="jumbotron jumbotron-fluid">	
	<h1>Sign up</h1>
	<p>Create an account here</p>
</div>

<div class="container-fluid">
	<ul class="list-group">
		<li class="list-group-item">
			
		</li>
	</ul>
</div>

