<% if (User.new).errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize((User.new).errors.count, "error") %>
		</div>
		<ul>
		<% (User.new).errors.full_messages.each do |msg| %>
			<li>* <%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>