<% provide(:title, 'All Device Users' %>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-8">
		<table class="table table-borderless">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Department</th>
					<th scope="col">Edit</th>
				</tr>
			</thead>		
		<% (Customer.all).each do |customer| %>
			<tbody>
				<tr>
					<th scope="row"><%= customer.name %></th>
					<td><%= customer.department %></td>
					<td><%= link_to edit_customer_path(customer) do %><%= icon('fas', 'pencil-alt', class: 'strong h6 trash-ico float-right') %><% end %></td>
				</tr>
			</tbody>
		<% end %>
		</table>
	</div>
</div>
