	<h2 id="aboutus"> Device Users List </h2>
		<table class="table table-borderless">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Department</th>
					<th scope="col">Edit User</th>
				</tr>
			</thead>		
		<% @customers.each do |customer| %>
			<tbody>
				<tr>
					<th scope="row"><%= customer.name %></th>
					<td><%= customer.department %></td>
					<td><%= link_to edit_customer_path(customer) do %><%= icon('fas', 'pen-fancy', class: 'strong h6 trash-ico float-right', title: 'Edit Device User') %><% end %></td>
				</tr>
			</tbody>
		<% end %>
		</table>


