@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "font-awesome";
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,900');


/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$blue: #003eff;
$indigo: #7986CB;
$breadcrumb-divider: quote("|");

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 60px;
font-family: 'Muli', sans-serif;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
} 
.center {
text-align: center;
	h1 {
	margin-bottom: 10px;
	}
} 

a {
	color: $white;
}

ul {
	list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: 'Muli', sans-serif;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30 px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-300; 
}

#roles{
	font-weight: bold;
}

#invrole{
	font-weight: bold;
	font-style: italic;
}

#aboutus {
	color: $blue;
}

.mantra {
	padding-top: 17px;
	padding-bottom: 20px;
	background-image: url('grey-texture.jpg');
}

.row-background-image {
	//background-image: url('paper-mache.jpg');background-image: url('grey-texture.jpg');
	background-image: url('grey-texture.jpg');
	align: center;
}

.row-background-image h2 {
		border-bottom: 2px solid #b4b4b4;
}

.fun {
	border: none;
}

.bout h2 {
	border-bottom: 5px;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.carousel-indicators li {
	background-color: $gray-500;
}

.carousel-indicators .active {
	background-color: $blue;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

.notice { 
	background:$yellow;
	color:$indigo;
	border-color:#FFD324; 
	text-align: center;
	font-weight: bold;
}

.home {
	background-color: $gray-200;
	padding: 1rem;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
	color: white;
	text-decoration: none;
	}
} 

#dropdownMenuButton {
	color: white;
	font-weight: bold;
	
}

#signup {
	color: $blue;
	font-weight: bold;
}
.navbar ul{
  list-style: none;
  margin: 0 2px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.custom-toggler.navbar-toggler {
	border-color: rgba($white, .4);
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{rgba($white, .55);}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.btn-light{
	font-weight: bold;
}


.nav-link {
	font-weight: bold;
}

.imgabout{
}

.carousel-control-prev{
	color: $blue;
}

.carousel-control-next{
	color: $blue;
}


/* footer */

#footer {
	p, h5, dt, dd{
	color: white;
	}
}

hr.light {
	border-top: 1px solid $white;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

hr.light-100{
	border-top: 1px solid $white;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $gray-300;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-300;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		} 
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
	strong {
		display: block;
	}

}

.use-avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
} 

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#account{
	font-weight: bold;
	text-align: center;
	justify-content: center;
}

#error_explanation {
	color: #f00;
	font-weight: bold;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group !optional;
	@extend .error !optional;
}

/* user index */
.users {
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $gray-300;
		&:last-child{
			border-bottom: 1px solid $gray-300;
		}
	}
}

#admin_field{
	font-weight: bold;
	text-align: center;
	color: $blue;
}

/* form */

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: auto;
	padding-left: 54px;
}

.session-form::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0e0";
	position: absolute;
	font-size: 22px;
	color: $gray-500;
	left: 28px;
	padding-top: 4px;
}

.session-form:last-of-type::before{
	content: "\f023";
	font-weight: 900;
}

.pass-form::before{
	font-family: 'Font Awesome\ 5 Free';
	content: "\f0e0";
	position: absolute;
	font-size: 22px;
	color: $gray-500;
	left: 28px;
	padding-top: 4px;
}

.reset-form::before{
	font-family: 'Font Awesome\ 5 Free';
	content: "\f023";
	font-weight: 900;
	position: absolute;
	font-size: 22px;
	color: $gray-500;
	left: 28px;
	padding-top: 4px;
}

.form-text {
	text-indent: 48px;
}

.form-pass {
	text-indent: 48px;
}


.pass-reset{
	text-indent: 48px;
}

/* search-form */
.search-ico {
	padding-right: 8px;
}

.search-buttn {
	padding-left: 6px;
}

.card {
	border: 0;
}

/* delete icon */
.trash-ico {
	color: $blue;
}

/* pagination */


.pagination li {
	background-color: $white;
	&:hover{
		background-color: $gray-500;
	}
}

.pagination .active {
		background-color: $gray-400;
	}

.block_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .block_pagination a, .block_pagination span, .block_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .block_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .block_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .block_pagination a {
    text-decoration: none;
    color: $blue;
    border: 1px solid #9aafe5; }
    .block_pagination a:hover, .block_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .block_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .block_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .block_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .block_pagination {
    height: 1%; }
  *:first-child + html .block_pagination {
    overflow: hidden; }

/* reporting */
.file-ico {
	color: $blue;
	padding-top: 2px;
	padding-right: 4px;
	&:hover {
		text-decoration: none;
		color: $blue;
	}

}

.filetypes {
	font-weight: bold;
	text-align: center;
	color: $gray-500;
}

/* back-to-top */
.back-to-top {

	position: fixed;
	bottom: 0;
	right: 20px;
	display:none;
	font-size: 2rem;
	color: #ffffff;
	margin-bottom: 75px;
	margin-right: 25px;
	cursor: pointer;
}

.back-to-top i {
 
  font-size: 60px;
 
}

.back-to-top:hover {
	color: $gray-400;
}


/* tables */
.table{

}

.table-dark {

}

.table-striped{

}

.table-hover {

}
.thead-light{
	
}

