<footer class="page-footer font-small pt-4 bg-primary" id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 mt-md-0 mt-3"><a href="http://eapi.co.ke"><%= image_tag "EAPI_Logo.png" %></a>
				<p>Better by Design</p>
			
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">


			<div class="col-md-4 mt-md-0 mt-3">
				<hr class="light">
				<h5>Contacts</h5>
				<hr class="light">
				<dl class="contact-list">
					<dt>Adress:</dt>
					<dd>Kitui road, Off Kampala road, Nairobi</dd>
				</dl>
				<dl class="contact-list">
					<dt>Email:</dt>
					<dd>helpdesk@eapi.co.ke</dd>
				</dl>
				<dl class="contact-list">
					<dt>Phone Number:</dt>
					<dd>+254 20 3955000</dd>
				</dl>
			</div>

			<div class="col-md-4 mt-md-0 mt-3">
				<hr class="light">
				<h5>Links</h5>
				<hr class="light">
				<nav>
					<ul>
						<li><%= link_to "About", about_path, id:"about" %></li>
						<li><%= link_to "Contact",	contact_path, id:"contact" %></li>
						<li> <%= link_to "Sign out", signout_path, method: "delete", id:"signout" %></li>
					</ul>
				</nav>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<div class="footer-copyright py-3">&copy; 2018 Copyright:
		           <a href="http://eapi.co.ke">EAPI</a>
		        </div>
	    	</div>
		</div>
	</div>
</footer>