<div class="container-fluid">
	<nav class="navbar navbar-toggleable-md bg-primary">
		<%= link_to "inventory app", root_path, id:"logo" %>
			<ul class="nav nav-pills pull-right justify-content-end">
				<li><%= link_to "Home", root_path, id:"home" %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>
	</nav>
</div>

